doctype html
html(lang='en')
    include ../admin_common/head.pug
    +head("Admin Portal")
    body
        header
            include ../admin_common/navbar.pug
            +navbar(admin)
            .container
                .row
                    .col-sm-12.offset-md-2.col-md-8
                        br
                        .jumbotron
                            h2.text-center Add Dependents
                            .row
                                .col-sm-12.col-md-12
                                    form(action="/admin/employee/" + employer.employee_id + "/dependants/add" method='POST')
                                        div.formgroup.row
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 First Name *
                                                input(required='true',name='f_name', type='text', value=formData.f_name, placeholder='First Name *').form-control
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 Last Name
                                                input(name='l_name', type='text', value=formData.l_name, placeholder='Last Name *').form-control
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 Relation *
                                                input(required='true',name='relation', type='text', value=formData.relation, placeholder='Relation *').form-control
                                            .col-sm-6.col-md-6
                                                label.small.mb-1.mt-3 Telephone *
                                                .form-group
                                                    .input-group.mb-3
                                                        .input-group-prepend
                                                            span.input-group-text +94
                                                        input(required='true', name='tel_no', type='text', value=formData.tel_no, placeholder='Telephone *').form-control
                                            .col-sm-4.col-md-6
                                                label.small.mb-1.mt-3 Date of Birth *
                                                input(required='true', name='birth_date', type='date', value=formData.birth_date).form-control
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 Gender *
                                                select(required='true', name='gender', value=formData.gender).form-control
                                                    option(value="Male") Male
                                                    option(value="Female") Female
                                            .col-sm-12.col-md-12
                                                if (errors && errors.message)
                                                    p.small.text-danger #{errors.message}
                                                button.mt-3.btn.btn-success(type='submit') Add
    include ../admin_common/footer.pug
    +footer()