doctype html
html(lang='en')
    include ../admin_common/head.pug
    +head("Admin Portal")
    body
        header
            include ../admin_common/navbar.pug
            +navbar(admin)
            .container
                .row
                    .col-sm-12.offset-md-2.col-md-8
                        br
                        .jumbotron
                            h2.text-center Add Employee
                            .row
                                .col-sm-12.col-md-12
                                    form(action='/admin/employee/add', method='POST')
                                        div.formgroup.row
                                            .col-sm-6.col-md-6
                                                label.small.mb-1.mt-3 NIC Number *
                                                input(required='true', name='NIC', type='text', value=formData.NIC).form-control
                                            .col-sm-6.col-md-6
                                                label.small.mb-1.mt-3 First Name *
                                                input(required='true', name='f_name', type='text', value=formData.f_name).form-control
                                            .col-sm-6.col-md-6
                                                label.small.mb-1.mt-3 Last Name
                                                input(name='l_name', type='text', value=formData.l_name).form-control
                                            .col-sm-6.col-md-6
                                                label.small.mb-1.mt-3 Email *
                                                input(required='true', name='email', type='email', value=formData.email).form-control
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 Date of Birth *
                                                input(required='true', name='birth_date', type='date', value=formData.birth_date).form-control
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 Marital Status *
                                                select(required='true', name='marital_stat', value=formData.marital_stat).form-control
                                                    option(value="Single") Single
                                                    option(value="Married") Married
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 Gender *
                                                select(required='true', name='gender', value=formData.gender).form-control
                                                    option(value="Male") Male
                                                    option(value="Female") Female
                                            .col-sm-12.col-md-12
                                                label.small.mb-1.mt-3 Address
                                            .col-sm-4.col-md-4
                                                input(name='street', type='text', value=formData.street, placeholder='Street').form-control
                                            .col-sm-4.col-md-4
                                                input(name='city', type='text', value=formData.city, placeholder='City').form-control
                                            .col-sm-4.col-md-4
                                                input(name='state', type='text', value=formData.state, placeholder='State').form-control
                                            .col-sm-12.col-md-12
                                                label.small.mb-1.mt-3 Telephone Number
                                            .col-sm-6.col-md-6
                                                .form-group
                                                    .input-group.mb-3
                                                        .input-group-prepend
                                                            span.input-group-text +94
                                                        input(required='true', name='tel_no_mobile', type='text', value=formData.tel_no_mobile, placeholder='Mobile *').form-control
                                            .col-sm-6.col-md-6
                                                .form-group
                                                    .input-group.mb-3
                                                        .input-group-prepend
                                                            span.input-group-text +94
                                                        input(name='tel_no_home', type='text', value=formData.tel_no_home, placeholder='Home').form-control
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 Job
                                                select(required='true', name='job_id', value=formData.job_id).form-control
                                                  each job in jobs
                                                    option(value=job.job_id) #{job.title}
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 Department
                                                select(required='true', name='department_id', value=formData.department_id).form-control
                                                  each department in departments
                                                    option(value=department.department_id) #{department.department}
                                            .col-sm-4.col-md-4
                                                label.small.mb-1.mt-3 Pay Grade
                                                select(required='true', name='paygrade_id', value=formData.paygrade_id).form-control
                                                  each paygrade in paygrades
                                                    option(value=paygrade.paygrade_id) #{paygrade.grade}
                                            .col-sm-6.col-md-6
                                                label.small.mb-1.mt-3 Employee Status
                                                select(required='true', name='emp_stat_id', value=formData.emp_stat_id).form-control
                                                  each emp_stat in emp_status
                                                    option(value=emp_stat.emp_stat_id) #{emp_stat.status}
                                            .col-sm-6.col-md-6
                                                label.small.mb-1.mt-3 Date of Appointment *
                                                input(required='true', name='starting_date', type='date', value=formData.starting_date).form-control
                                            .col-sm-12.col-md-12
                                                if (errors && errors.message)
                                                    p.small.text-danger #{errors.message}
                                                button.mt-3.btn.btn-success(type='submit') Add
    include ../admin_common/footer.pug
    +footer()