doctype html
html(lang='en')
    include ../admin_common/head.pug
    +head("Admin Portal")
    body
        header
            include ../admin_common/navbar.pug
            +navbar(admin)
        .container
            br
            .row
                .col-sm-12.offset-md-2.col-md-8
                    if rows
                        h4.text-center Work History
                        br
                        a.btn.btn-outline-success(href="/admin/employee/" + employer.employee_id + "/work-details/edit") Change Position
                        table.table.table-hover.table-bordered
                            thead
                                tr
                                    th Appointment Date
                                    th Title
                                    th Department
                                    th Pay Grade
                                    th Employee Status
                            tbody
                                for work in rows
                                    tr
                                        p(id=work.id)
                                            td.span #{work.starting_date.toLocaleDateString()} #{work.end_date ? null : '(Current)'}
                                            td.span #{work.title}
                                            td.span #{work.department}
                                            td.span #{work.grade}
                                            td.span #{work.status}
    include ../admin_common/footer.pug
    +footer()
    script(src="/javascripts/admins.js")