doctype html
html(lang='en')
    include ../admin_common/head.pug
    +head("Admin Portal")
    body
        header
            include ../admin_common/navbar.pug
            +navbar(admin)

            br
            .row
                .col-sm-12.offset-md-1.col-md-10
                    if employee
                        h4.text-center Employee
                        br
                        a.btn.btn-outline-success(href="/admin/employee/add") Add New Employee
                        table.table.table-hover.table-bordered
                            thead
                                tr
                                    th Name
                                    th Email
                                    th Title
                                    th Department
                                    th.text-center Actions
                            tbody
                                for employer in employee
                                    tr(id=employer.employee_id)
                                        p
                                            td.span #{employer.f_name + " " + employer.l_name}
                                            td.span #{employer.email}
                                            td.span #{employer.title}
                                            td.span #{employer.department}
                                            td.text-center
                                                //if admins.length !== 1 && user.id !== admin.id
                                                a.btn.btn-outline-success.btn-sm.mr-2(href="/admin/employee/" + employer.employee_id + "/details") Personal Details
                                                a.btn.btn-outline-success.btn-sm.mr-2(href="/admin/employee/" + employer.employee_id + "/work-details") Work Details
                                                a.btn.btn-outline-success.btn-sm.mr-2(href="/admin/employee/" + employer.employee_id + "/dependants") Dependants
                                                a.btn.btn-outline-success.btn-sm.mr-2(href="/admin/employee/" + employer.employee_id + "/contacts") Emergency Contacts
                                                button.btn.btn-outline-primary.btn-sm.mr-2(onclick=`confirm("Are you sure you want to remove from company?") ? removeEmployee('${employer.employee_id}') : null`) Leave Company
    include ../admin_common/footer.pug
    +footer()
    script(src="/javascripts/admins.js")