doctype html
html(lang='en')
    include ../common/head.pug
    +head("Employee")
    body
        header
            include ../common/navbar.pug
            +navbar(user)

            br
            .row
                .col-sm-12.offset-md-1.col-md-10
                    if rows
                        h4.text-center Employee
                        table.table.table-hover.table-bordered
                            thead
                                tr
                                    th Name
                                    th Email
                                    th Title
                                    th Department
                                    th.text-center Actions
                            tbody
                                for employer in rows
                                    tr(id=employer.employee_id)
                                        p
                                            td.span #{employer.f_name + " " + employer.l_name}
                                            td.span #{employer.email}
                                            td.span #{employer.title}
                                            td.span #{employer.department}
                                            td.text-center
                                                //if admins.length !== 1 && user.id !== admin.id
                                                a.btn.btn-outline-primary.btn-sm.mr-2(href="/employee/" + employer.employee_id + "/details") Personal Details
                                                a.btn.btn-outline-primary.btn-sm.mr-2(href="/employee/" + employer.employee_id + "/work-details") Work Details
                                                a.btn.btn-outline-primary.btn-sm.mr-2(href="/employee/" + employer.employee_id + "/dependants") Dependants
                                                a.btn.btn-outline-primary.btn-sm.mr-2(href="/employee/" + employer.employee_id + "/emergency_contacts") Emergency Contacts
                                                //button.btn.btn-outline-danger.btn-sm.mr-2(onclick=`confirm("Are you sure you want to remove from company?") ? removeEmployee('${employer.employee_id}') : null`) Leave Company
    include ../common/footer.pug
    +footer()
    script(src="/javascripts/admins.js")