doctype html
html(lang='en')
    include ../common/head.pug
    +head("Job Report")
    body
        header
            include ../common/navbar.pug
            +navbar(user)
        br
        .row
            .col-sm-12.offset-md-2.col-md-8
                if jobs
                    .form-group
                        label(for="jobSelect") Job
                        select.form-control(id="jobSelect")
                            for job in jobs
                                if(job.job_id == job_id)
                                    option(value = job.job_id selected) #{job.title}
                                else
                                    option(value = job.job_id) #{job.title}
                if rows
                    h4.text-center Report
                    br
                    table.table.table-hover.table-bordered
                        thead.table-primary
                            tr
                                th Name
                                th NIC
                                th Department
                                th Status
                        tbody
                            for row in rows
                                tr
                                    p(id=row.id)
                                        td.span #{row.f_name + " " + row.l_name}
                                        td.span #{row.NIC}
                                        td.span #{row.department}
                                        td.span #{row.status}
    include ../common/footer.pug
    +footer()
    script(src="/javascripts/users.js")