doctype html
html(lang='en')
    include ../common/head.pug
    +head("Leaves")
    body
        header
            include ../common/navbar.pug
            +navbar(user)
        br
        .row
            .col-sm-12.offset-md-2.col-md-8
                if rows
                    h4.text-center Leaves
                    br
                    table.table.table-hover.table-bordered
                        thead.table-primary
                            tr
                                th Leave Type
                                th Reason
                                th From Date
                                th To Date
                        tbody
                            for leave in rows
                                tr
                                    p(id=leave.id)
                                        td.span #{leave.type}
                                        td.span #{leave.reason}
                                        td.span #{leave.from_date.toLocaleDateString()}
                                        td.span #{leave.to_date.LocaleDateString()}
    include ../common/footer.pug
    +footer()